body {
    background-color: lightgray;
    color: black;
    font-family: Orbitron;
    font-style: italic;
    font-size: 20px;
}

p {
    color: red;
    font-family: Orbitron;
    font-style: italic;
}
